@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

:root {
  --fs-1: 4rem;
  --fs-2: 3rem;
  --fs-3: 2rem;
  --fs-4: 1.5rem;
  --fs-5: 1.25rem;
  --fs-6: 1rem;

}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f0f0f0;
    --text-color-primary: #000;
    --bg-color-card: #fff;
  }
}