---
---
<div class="wrapper">
  <div class="keyboard">
    <div class="row">
      <div class="key char">`</div>
      <div class="key char">1</div>
      <div class="key char">2</div>
      <div class="key char">3</div>
      <div class="key char">4</div>
      <div class="key char">5</div>
      <div class="key char">6</div>
      <div class="key char">7</div>
      <div class="key char">8</div>
      <div class="key char">9</div>
      <div class="key char">0</div>
      <div class="key char">-</div>
      <div class="key char">=</div>
      <div class="key special">DEL</div>
    </div>
    <div class="row">
      <div class="key special">TAB</div>
      <div class="key char">Q</div>
      <div class="key char">W</div>
      <div class="key char">E</div>
      <div class="key char">R</div>
      <div class="key char">T</div>
      <div class="key char">Y</div>
      <div class="key char">U</div>
      <div class="key char">I</div>
      <div class="key char">O</div>
      <div class="key char">P</div>
      <div class="key char">[</div>
      <div class="key char">]</div>
      <div class="key char">\</div>
    </div>
    <div class="row">
      <div class="key special medium">CAPS</div>
      <div class="key char">A</div>
      <div class="key char">S</div>
      <div class="key char">D</div>
      <div class="key char">F</div>
      <div class="key char">G</div>
      <div class="key char">H</div>
      <div class="key char">J</div>
      <div class="key char">K</div>
      <div class="key char">L</div>
      <div class="key char">;</div>
      <div class="key char">'</div>
      <div class="key special medium">ENTER</div>
    </div>
    <div class="row">
      <div class="key special max">SHIFT</div>
      <div class="key char">\</div>
      <div class="key char">Z</div>
      <div class="key char">X</div>
      <div class="key char">C</div>
      <div class="key char">V</div>
      <div class="key char">B</div>
      <div class="key char">N</div>
      <div class="key char">M</div>
      <div class="key char">,</div>
      <div class="key char">.</div>
      <div class="key char">/</div>
      <div class="key special max">SHIFT</div>
    </div>
  </div>
</div>

<script>
  const d = document;
  const chars = d.querySelectorAll('.char');
  const specialChars = d.querySelectorAll('.special');

  let typed = false;
  let activeChar = 0;

  setInterval(() => !typed && changeChar() , 1500);

  function changeChar() {
    chars[activeChar].classList.remove('active');
    const random = Math.floor(Math.random() * chars.length);
    activeChar = random;
    chars[random].classList.add('active');
  }

  d.addEventListener('keydown', e => {
    if (e.key.toUpperCase() === chars[activeChar].textContent) typed = true;
  });

  specialChars.forEach(specialChar => {
    specialChar.addEventListener('click', () => typed = false);
  });
</script>

<style lang="scss">

body {
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 7rem);
}

.keyboard {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 2.6rem 1.8rem;
  border-radius: 2.5rem;
  width: 100%;

  @media screen and (max-width: 780px) {
    padding: 1.5rem 1.5rem;
    border-radius: 1.5rem;
  }

  & .row {
    display: flex;
    gap: 0.7rem;

    & .key {
      flex: 1 1;
      padding: 1.125rem 1.25rem;
      background: #fff;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: #60c1b6;
      cursor: pointer;
      transition: 0.4s ease;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      transform: to-upper-case;

      &.special {
        flex: 2 1;
        color: #868888;

        &.medium {
          flex: 3 1;
        }
        &.max {
          flex: 4 1;
        }
      }

      &.active {
        background: #60c1b6;
        color: #fff;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        background: rgb(228, 228, 228);
      }
      @media screen and (max-width: 1200px) {
        font-size: 1.2rem;
        min-width: auto;
        padding: 0.8rem 1rem;
        border-radius: 0.6rem;
      }
    }
  }
}
</style>
