.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 32px;
}

.tooltip .tooltiptext {
  font-size: 16px;
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}
