---
import '@styles/global.scss';

import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Advent CSS - {title}</title>
	</head>
	<body>
		<Header />
		<div class="container">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0.8rem 1rem;
	}
</style>
